# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Build directories
/bin
/lib
/doc
bld/
build/
cmake-build-*/
out/

# Backup files
*.bak
*.backup
*~

# CMake
CMakeCache.txt
CMakeFiles/
CMakeScripts/
Testing/
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

# IDE: CLion
.idea/
cmake-build-*/

# IDE: VSCode
.vscode/
*.code-workspace

# IDE: Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.vcxproj
*.vcxproj.filters
*.sln

# IDE: Xcode
*.xcodeproj
*.xcworkspace
xcuserdata/
DerivedData/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Linux
*~
.directory

# Windows
Thumbs.db
Desktop.ini

# Third party cache/config
/3rdparty/sndlib/autom4te.cache/
